go 1.27

use (
	.
	./cmd/toolbox
	./subsystems/agent
	./subsystems/apimcp
	./subsystems/apiopenapi
	./subsystems/apigrpc
	./subsystems/apitools
	./subsystems/documentation
	./subsystems/health
	./subsystems/knowledge
	./subsystems/model
	./subsystems/policy
	./subsystems/prompt
	./subsystems/registry
	./subsystems/skill
	./subsystems/testecho
	./subsystems/tool
	./subsystems/workflow
)
